.vdsps{
	width: 100%;
	height: auto;
	display: flex;
	
}
.sps{
	display: flex;
	width: 50%;
	height: 60%;
	flex-direction: column;
    margin:1.5%;
    background-color:#E0218A;
    border-radius:10px;
}
.ttl4{
	display: flex;
	align-items: center;
	justify-content:center;
	width: 100%;
	height:auto;
    font-size:20px;
	color:white;
}
.tex5{
	margin:1.2%;
	font-size:15px;
	font-family:Comic Sans MS;
	color:white;

}
.vd{
	margin-top:1.5%;
}